head
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title
	meta(name='description', content='Lorem')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='/css/styles.css', rel='stylesheet')